<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta name="author" content="William Luke"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body style="">

<div id="header">
  <div id="headercontent">
    <h1 style="font-size: 40px;font-family: monospace;margin-bottom: 5px;"> [william.luke:~{{ page.permalink }}] $ </h1>
  </div>
</div>

{{ content}}

</body>
</html>
