<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta name="author" content="William Luke"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body style="">

<div id="header">
  <div id="headercontent">
    <p>
    <div style="font-size: 40px;font-family: monospace; font-weight: bold; display: inline"> [william.luke:</div>
    <div style="font-size: 20px;font-family: monospace; font-weight: bold; display: inline">~{{ page.permalink }}</div>
    <div style="font-size: 40px;font-family: monospace; font-weight: bold; display: inline">] $</div>
    </p>
  </div>
</div>

{{ content }}

</body>
</html>
